.slider{
	font-size: 50px;
	width: 500px;
	margin-left: 200px;
}
.infod{
	display: inline-block;
}
#maind{
	margin-top: 20px;
	background:white;
	border-radius: 20px;
}
#mensaje{
	border-radius: 20px;
	opacity: 0.9;
	/*background: #F7F8F8	;*/
	margin:0 auto;
}
#mensaje h5{
	color:black;
}
#mensaje p{
	margin-bottom: 0px;
}
#pcon{
	font-size: 18px;
}
#colors h6{
	font-size: 18px;
	color:blue;
}
#colors{
	font-size: 18px;
}
#logo{
	margin-right: 50px;
}

.bgcolor{
	background-color: #23AAE1;
}