.main-section{
  background: white;
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  margin-top: 80px;
}
body{
  /*background:url("../img/fondo4.jpg");*/
  overflow-x: hidden;
}
.main-section h5 a{
	color:#138EB6;
}
.foot{
	height: 50px;
    position: absolute; 
    left: 0;
     bottom: 0;
      width: 100%;
      color: white;
      background-color: darkgray;
}
#wrapper{
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;

}
#wrapper .toggled{
	padding-left: 240px;
}
#sidebar-wrapper{
	z-index: 1000;
	position: fixed;
	left:200px;
	width: 0;
	height: 100%;
	margin-left: -200px;
	overflow-y: auto;
	background: lightblue;
	-webkit-transition: all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;

}
#wrapper.toggled #sidebar-wrapper{
	width: 250px;
}
#page-content-wrapper{
	width: 100%;
	position: absolute;	
}
#wrapper.toggled #page-content-wrapper{
	position: absolute;
	margin-right: -250px;

}

#usuarioc{
	color: black;
}
#imgse{
	margin-left: 12px;
}
	 

.infod{
    display: inline-block;
    color: white;
}
.infof{
    color: white;
    padding-bottom: 10px;
}
p{
    margin-bottom: 5px;
}
#logo{
  margin-right: 50px;
} 