.regis{
 padding-top: 75px;
 padding-bottom: 75px;
}
body{
	background: url("../img/fondo2.jpg") ;


}
/*estilos para el formulario*/
.form{
	width:500px;
	height:925px;
	background:white;
	border-radius:20px;
	padding:20px 30px;
	box-sizing:border-box;
	font-family:'Montserrat',sans-serif;
	margin-bottom: 30px;
	margin-left: 100px;
	display: inline-block;
	opacity: 0.9;
  filter: alpha(opacity=90);
  margin-top: 40px;
}
.regish2{
	margin:10px 0;
	padding-bottom:20px;
	width:450px;
	color:#78788c;
	border-bottom:2px solid #78788c;
	text-align: center;
	font-size: 25px;
}
input{
	width:100%;
	padding:10px;
	box-sizing:border-box;
	background:none;
	outline:none;
	resize:none;
	border:0;
	font-family:'Montserrat',sans-serif;transition:all .3s;
	border-bottom:2px solid #bebed2
}
input:focus{
	border-bottom:2px solid #29088A;
}
p:before{
	content:attr(type);
	display:block;
	margin:28px 0 0;
	font-size:14px;
	color:#5a5a5a
}
#REGISTRAR{
	padding:10px 2px;
	margin:5px 0 0;
	font-family:'Montserrat',sans-serif;border:2px solid #78788c ;
	background:0;
	color:#5a5a6e;
	cursor:pointer;
	width: 440px;

}
#REGISTRAR:hover{
	background:#29088A;
	color:#fff
}
#semestre{

margin:1px;
width: 100px;
border-radius: 10px;
}
#carreras{
width: 300px;
border-radius: 10px;
}
.formulario	{
	height: 200px;
	width: 200px;
	margin: 1px;
	display: inline-block;	
	float: left;
}
/* Contenido */
.contenido{
	display: inline-block;
	float: right;
	padding-right: 200px;
	text-align: center;
}
.contenido h3{
	color: black;
	display: inline-block;

}
.contenido a{
	color: #FC3760;
	text-decoration: none;
}
.contenido a:hover{
	background-color: lightgray;

}
.logoc{
	display: inline-block;
	float: right;
}
#logocist{
	height: 100px;
	width: 400px;
  border:1px solid black;

}
.contenido p{
	display: inline-block;
	color: black;	
	font-size: 13px;
	font-weight: bold;
	width: 402px;
}
.contenido2{
	background-color: white;
	margin-top: 60px;
	border-radius: 5px;	
	opacity: 0.8;
  filter: alpha(opacity=80);
}
.banner{
   		background: url("../img/banner2.png");
   		background-size: cover;
   		background-position: center;
   		height: 220px;
   		width: 1200px;
   		padding-top: 50px;

   	}
   	.footers{
   		height: 50px;
   	}
