/*diseno para la parte que contiene el formulario y los tips*/
.main-section{
  background:white;
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  margin-top: 30px;
  border-radius: 20px;
}
body{
/*background: url("../img/fondo2.jpg") ;*/
background:white;

}
#semestre{
margin:1px;
width: 100px;
border-radius: 10px;
}
#carreras{
width: 300px;
border-radius: 10px;
}

.banner{
   		background: url("../img/banner2.jpg");
   		background-size: cover;
   		background-position: center;
   		height: 220px;
   		width: 1000px;
   		padding-top: 50px;
   		opacity: 0.8;
   	}
   	.footers{
   		height: 50px;
   	}
.infod{
	display: inline-block;
	color: white;
}
.infof{
	color: white;
	padding-bottom: 10px;
}
p{
	margin-bottom: 5px;
}
#logo{
  margin-right: 80px;
} 
